{{- if .Values.config.createConfigMap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "nav.fullname" . }}
  labels:
    {{- include "nav.labels" . | nindent 4 }}
data:
  local.yaml: |
    env: {{ .Values.config.data.env }}
    http:
      host: {{ .Values.config.data.http.host }}
      port: {{ .Values.config.data.http.port }}
    security:
      jwt:
        key: {{ .Values.config.data.security.jwt.key }}
    data:
      db:
        user:
          driver: {{ .Values.config.data.data.db.user.driver }}
          dsn: {{ .Values.config.data.data.db.user.dsn }}
    log:
      log_level: {{ .Values.config.data.log.log_level }}
      encoding: {{ .Values.config.data.log.encoding }}
      log_file_name: {{ .Values.config.data.log.log_file_name | quote }}
      max_backups: {{ .Values.config.data.log.max_backups }}
      max_age: {{ .Values.config.data.log.max_age }}
      max_size: {{ .Values.config.data.log.max_size }}
      compress: {{ .Values.config.data.log.compress }}
{{- end }}
